VITE_TMDB_READ_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NTBkNTZlMDQxZmYzY2M3Njk2NTZiMWRjOWUyNjYwNiIsInN1YiI6IjY0MjliYmI2NjY1NDA4MDA5N2Y1ZjU2ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.89b7RF2I-Dm0y_b2_2j6krUKFDgwN0jvn4RAbRy616w
VITE_OPENSEARCH_ENABLED=false

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=simple-proxy.jackpadbury1.workers.dev

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
